header{
    height: 120px;
}

main{
    background-color: #7fffd4;
    height: 600px
}

footer{
    height: 100px;
}

div div.box{
    width: 50px;
    height: 50px;
    background-color: azure;
    border: 2px solid black;
    text-align: center;
    cursor: crosshair;
}
div div.box.bgCarino{
    background-color: lightseagreen;
}
.custom-align-center{
    align-items: center;
}
#boolean-logo{
    height: 70px;
}
#grid{
    margin: 0 auto;
    width: 550px;
}

